
/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--list-style-none: none;
	--font-title:'Petrona';
	--font-product-title: 'Petrona';
	--font-small-text: 'Roboto', sans-serif;
}

body{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 2fr 1fr;
}

header ul{
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	gap: 5em;
}

header{
	display: grid; 
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
}

header li{
	display: flex;
	align-content: center;
	gap: 10em;
	background-color: yellow;
}

nav > ul{
	background-color: rgb(255, 249, 241);
	margin: 0;
	justify-content: space-around;
	font-size: 0.8em;
	font-family: 'Roboto', sans-serif;
}

nav ul+ul{
  background-color: white;
	border-bottom: solid rgb(222, 221, 221) 0.08em;
	justify-content: center;
	padding: 2em;
	font-size: 0.8em;
	font-family: 'Roboto', sans-serif;
}

nav ul+ul:nth-child(2){
	width: 14em;
	height: auto;
	background-color: aqua;
}

nav ul+ul:nth-child(4){
	width: 1em;
	background-color: red;
}

nav ul+ul:nth-child(5){
	width: 1em;
}

nav ul+ul:nth-child(6){
	width: 1em;
}

h1{
	font-family: var(--font-title);
}

h2{
	font-family: var(--font-product-title);
}

a {
   text-decoration: none;
	 color: var(--color-text);
}

a:focus{
   background-color: khaki;
}

a:hover{
	text-decoration: underline;
}

header > ul{
	align-items: center;
}

ul li{
	list-style-type: var(--list-style-none);
}

main:first-child ul{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: blueviolet;
}

main li{
	display: flex;
  flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	background-color: blueviolet;
}

main li img{
	width: 20em;
}

main li button{
	width: 3em;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

@media (max-width: 320px){

}

@media (max-width: 481px){

}

@media (max-width: 769px){

}

@media (max-width: 1025px){

}

@media (max-width: 1201px){

}


/* https://testsigma.com/blog/css-breakpoints  Breakpoints media queries/*/